<div ng-controller="NavigationController">
	<ng-include src="'partials/Operator/operatorHeader.html'" onload="setActiveHeader('nav1')"></ng-include>
</div>

<div class="container">
	<article class="leftContainer">			
		<section class="panel categories">
			<div class="panel-heading">
				<h3>
					User Requests
				</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li ng-class="{active:selectedIndex==item.index}" ng-repeat="item in leftContainerElements"><a href="javascript:void(0)" ng-click="changeIndex(item.index)">{{item.element}}</a></li>
				</ul>
			</div>
		</section>
	</article>
	<article class="mainContainer pagination">
		<ng-include src="requestTemplate"></ng-include>
	</article>
</div>