.bookRating{
	@extend .subscriptionHistory;
	background-color:#fff;
	table{
		tbody{
			img{
				height:150px;
				width:100px;
			}
				
			.bookDescriptionCell{
				text-align:justify;
			}
		}
	}
	
	.reviewInput{
		@extend .leftAlign;
		display:inline-block;
		width:80%;
		textarea{
			height:50px;
			width:100%;
		}
	}
	
	.userBookRating{
		@extend .rightAlign;
		display:inline-block;
		height:75px;
		text-align:right;
	}
	
	.reviewDescription{
		@extend .leftAlign;
		display:inline-block;
		width:80%;
	}
	
	.reviewRating{
		@extend .rightAlign;
		display:inline-block;
		text-align:right;
	}
	
	.bookRatingCell{
		font-size:25px;
		width:15%;
		p:nth-of-type(2){
			font-size:16px;
		}
	}
	
	.panel-heading{
		background-color:#333;
		color:#fff;
		padding:0px inherit;
		text-align:left;
	}
	
	.panel-body{
		background-color:#eee;
	}
	
	#reviewsDisplay{
		max-height:500px;
		overflow:auto;
	}
}