.newSubscription{
	@extend .subscription;
	
	.msg{
	  margin-bottom:35px;
	}
}

.activeSubscription{
  @extend .subscription;
  
  article{
    @extend .clearFloat;
    width:80%;
    
    section{
      float:none;
      margin-left:auto;
      margin-right:auto;
      width:50%;
    } 
  }
}

.subscriptionHistory{
  input[type="number"]{
    width:75px;
  }
  
  .leftSpace{
    margin-left:50px;
  }
  
  table{
      margin:30px auto;
      width:100%;
      
      thead{
        background-color:#333333;
        color:#fff;
        font-size:bold;
        
        th{
          font-weight:bold;
        }
      }
      
      tbody{
        tr:nth-of-type(odd){
          background-color:#EEE;  
        }
        
        tr:nth-of-type(even){
          background-color:#F8F8F8;  
        }
      } 
      
      td,th{
        padding:10px;
        text-align:center;
      } 
    }
    
    
}
