<div class="bookmark" ng-controller="BookmarkController">		
	<article class="booksResult" ng-hide="bookmarkServiceResult.booksList.length==0">
		<section class="booksHead">
				<span class="bookNo">Book No</span>
				<span class="bookCover">Book Cover</span>
				<span class="bookTitle">Title</span>
				<span class="bookAuthor">Author</span>
				<span class="bookCategory">Category</span>
				<span class="bookPublisher">Publisher</span>
				<span class="bookDescription">Description</span>
				<span class="bookAvailability">Availability</span>
				<span class="bookAction">Action</span>
		</section>

		<section class="booksBody"> 
			<section class="booksBodyCell" ng-repeat="book in bookmarkServiceResult.booksList">
				<span class="bookNo">
					<a href="javascript:void(0);">
						<img ng-src="images/bookmarkStar1.png" ng-show="isBookmarked[{{book.bookNo}}]" ng-click="removeBookmark($event)" data="{{book.bookNo}}" title="Click to Remove Bookmark" />
						<img ng-src="images/bookmarkStar.png" width="10" height="10" ng-hide="isBookmarked[{{book.bookNo}}]" ng-click="addBookmark($event)" data="{{book.bookNo}}" title="Click to Add Bookmark"/>
					</a>{{book.bookNo}}
				</span>
				<span class="bookCover"><img ng-src="data:image/png;base64,{{book.bookCover}}"></img></span>
				<span class="bookTitle">{{book.bookTitle}}</span>
				<span class="bookAuthor">{{book.bookAuthor}}</span>
				<span class="bookCategory">{{book.bookCategory}}</span>
				<span class="bookPublisher">{{book.bookPublisher}}</span>
				<span class="bookDescription">{{book.bookDescription}}</span>
				<span class="bookAvailability"><span ng-hide="isIssued[{{book.bookNo}}]">{{book.bookAvailability}}</span><span ng-show="isIssued[{{book.bookNo}}]">Issued</span></span>
				<span class="bookAction">
					<p>
						<input type="button" ng-click="cancelIssue($event)" ng-show="bookRequestStatus[book.bookNo]=='DELIVERY PENDING'" value="Cancel Issue" data="{{book.bookNo}}"/>
						<input type="button" ng-click="confirmDetails($event)" ng-show="bookRequestStatus[book.bookNo]=='RETURN NI/C'" value="Return Book" data="{{book.bookNo}}"/>
						<input type="button" ng-click="cancelReturn($event)" ng-show="bookRequestStatus[book.bookNo]=='RETURN PENDING'" value="Cancel Return" data="{{book.bookNo}}"/>
						<input type="button" ng-click="checkPlanValidity($event)" ng-show="bookRequestStatus[book.bookNo]!='DELIVERY PENDING' && bookRequestStatus[book.bookNo]!='RETURN NI/C' && bookRequestStatus[book.bookNo]!='RETURN PENDING'" ng-disabled="book.bookAvailability=='Not Available'" value="Issue Book" data="{{book.bookNo}}" />
					</p>
					<p>
						<a href="javascript:void(0)" ng-click="showRatingsDialog(book.bookNo)">Write Review</a>
					</p>
				</span>
			</section>
		</section>
	</article>
	
	<h3 ng-show="bookmarkServiceResult.booksList.length==0">No books found</h3>
	
	<div id="userDetailsDialog" ng-show="showConfirmDetails">
		<div>
			<a href="javascript:void(0)" ng-click="hideConfirmDetailsDialog()"></a>
			<h4>Confirm Your Details</h4>
			<form name="confirmDetailsForm">
				<p><label for="Address">Address<span class="required">*</span> : </label><textarea ng-model="userAddress" rows="5" cols="20" required></textarea></p>
				<p><label for="Contact">Contact<span class="required">*</span> : </label><input ng-model="userContact" type="tel" pattern="\d{10}" placeholder="10 digit contact no" title="Enter your 10 digit Contact No." onkeypress="return restrictContact(event)" required /></p>
	 	 		<p><input type="button" value="Confirm Issue" ng-disabled="confirmDetailsForm.$invalid || userContact.length!=10" ng-click="issueBook($event)"  ng-show="bookRequestStatus[bookNo]!='DELIVERY PENDING' && bookRequestStatus[bookNo]!='RETURN NI/C' && bookRequestStatus[bookNo]!='RETURN PENDING'" data="{{bookNo}}" />
				<input type="button" value="Confirm Return" ng-disabled="confirmDetailsForm.$invalid || userContact.length!=10" ng-click="returnBook($event)" ng-show="bookRequestStatus[bookNo]=='RETURN NI/C'" data="{{bookNo}}"/></p>
			</form>
		</div>
	</div>
</div>
<script>
	trimWhiteSpace();
</script>