<ng-include src="'partials/User/userHeader.html'"></ng-include>
<div class="container updateAccountDetails centerElements">
	<form ng-submit="changePassword()">
		<article class="changePassword">
			<p ng-hide="message.length==0" class="msg"><span ng-class="{error:isErrorMessage,success:!isErrorMessage}">{{message}}</span></p>
			<section>
				<p class="formHeading">Change Password</p>
			</section>
			<section>
				<label for="userOldPass">Old Password<span class="required">*</span></label><input type="password" ng-model="user.oldPass" value="" ng-blur="checkOldPassword()" autofocus required />
			</section>
			<section>
				<label for="userNewPass">New Password<span class="required">*</span></label><input type="password" ng-model="user.newPass" value="" required />
			</section>
			<section>
				<label for="userNewPass">Confirm Password<span class="required">*</span></label><input type="password" ng-model="user.confirmPass" value="" ng-blur="checkNewPasswords()" required />
			</section>
			<section>
				<input type="submit" value="Update" ng-disabled="message=='Passwords Donot Match'||message=='Wrong Old Password'" />
				<input type="reset" value="Reset" ng-click="message=''"/>
			</section>
		</article>
	</form>
</div>
<script>
	trimWhiteSpace();
</script>