<div ng-controller="NavigationController">
	<ng-include src="'partials/guestHeader.html'" onload="setActiveHeader('nav2')"></ng-include>
</div>
<div class="about">
	<article class="container">
		<section>
			Book World was established in 2000. Book World is rated #1 Online Book Rental Website of India of year 2013.
			Book World is comprised of wide range of books whicha are reknowned all over the world.
		</section>
		
		<section>
			Book World is dedicated for providing their clients the best services available. 
			We do not consider this to be a business, instead it is our life's endeavor. 
		</section>
		
		<section>
			To increase your knowledge, you are invited to join us. 
			Our support staff have the expertise to understand client's problem and provide clients the best possible results in the quickest possible time.
		</section>
	</article>
</div>