<div ng-controller="NavigationController">
	<ng-include src="'partials/guestHeader.html'" onload="setActiveHeader('nav5')"></ng-include>
</div>

<div class="container centerElements">
	<p class="msg" ng-hide="message.length==0">
		<span ng-class="{success:!isErrorMessage,error:isErrorMessage}">{{message}}</span>
	</p>
	<p class="formHeading msg">Forgot Password</p>
	<div id="forgotPassword">
		<form ng-submit="getPassword()">
			<label for="userEmail">Enter your Email : </label><input type="email" ng-model="user.userEmail" size="25" required />
			<input type="submit" value="Submit" />
		</form>
	</div>
</div>
