<div id="bookDetailsDialog">
	<div class="leftAlign dialogImgDiv">
		<img src="data:image/png;base64,{{bookDetails.bookCover}}"></img>
	</div>
	<div class="leftAlign dialogContentDiv">
		<p><span>Book No. :</span> {{bookDetails.bookNo}}</p>
		<p><span>Book Title. :</span> {{bookDetails.bookTitle}}</p>
		<p><span>BookCategory : </span>{{bookDetails.bookCategory}}</p>
		<p><span>BookPublisher : </span>{{bookDetails.bookPublisher}}</p>
		<p><span>BookDescription : </span>{{bookDetails.bookDescription}}</p>
	</div>
	<div class="clearFloat"> </div>
</div>